.top-header {
    min-height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-header__logo-link {
    display: block;
    font-size: 0;
    line-height: 0;
    color: var(--dark-primary);
}

.top-header__logo-icon {
    width: 100px;
    height: 32px;
}

@media screen and (min-width: 1024px) {
    .top-header {
        justify-content: flex-start;
        min-height: 80px;
    }
}
