/* Стилизация кнопки */
.button {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    min-width: 182px;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.1;
    vertical-align: middle;
}

.button:hover {
    cursor: pointer;
}

.button:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.button_primary {
    background-color: var(--accent-primary);
    color: var(--main);
    transition: background 200ms ease-in-out;
}

.button_primary:hover {
    background-color: var(--accent-primary-darken1);
}

.button_primary:disabled {
    background-color: var(--accent-primary);
}

.button_secondary {
    background-color: var(--accent-secondary);
    color: var(--main);
    transition: background 200ms ease-in-out;
}

.button_secondary:hover {
    background-color: var(--accent-secondary-darken1);
}

.button_secondary:disabled {
    background-color: var(--main);
}

.button_alternate {
    background-color: var(--main);
    color: var(--bg-secondary-darken4);
    border: 1px solid var(--bg-secondary-darken3);
    transition: border-color 200ms ease-in-out;
}

.button_alternate:hover {
    border-color: var(--dark-primary);
}

.button_alternate:disabled {
    background-color: var(--main);
}
