/* Стилизация аккордеона */
.accordion {
    box-sizing: border-box;
    padding: 24px 32px;
    border: 1px solid var(--main-secondary-darken3);
    border-radius: 8px;
    background: var(--main);
    font-size: 16px;
    line-height: 1.5;
}

.accordion[open] {
    padding-bottom: 8px;
}

.accordion__summary::-webkit-details-marker {
    display: none;
}

.accordion__summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--dark-primary);
    list-style-type: none; /* To hide details-marker in Firefox */
}

.accordion__toggle {
    width: 16px;
    height: 8px;
    cursor: pointer;
    transition: transform 100ms;
}

.accordion[open] .accordion__toggle {
    transform: rotate(180deg);
}

.accordion__body {
    color: var(--dark-primary);
}
