.toggler {
    display: flex;
    align-items: center;
}

.toggler__control {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.toggler__state {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 1px;
    width: 52px;
    height: 28px;
    border: 1px solid var(--main-secondary-darken2);
    border-radius: 16px;
    background-color: var(--main);
    cursor: pointer;
}

.toggler__control:disabled ~ .toggler__state {
    background-color: var(--main-secondary-darken2);
    border-color: var(--main-secondary-darken2);
    cursor: default;
}

.toggler__control:disabled ~ .toggler__state .toggler__dot {
    background-color: var(--main-secondary-darken3);
}

.toggler__control:disabled ~ .toggler__label {
    color: var(--main-secondary-darken2);
    cursor: default;
}

.toggler__control:focus ~ .toggler__label {
    text-decoration: underline;
}

.toggler__dot {
    position: relative;
    left: 0;
    width: 24px;
    height: 24px;
    background-color: var(--main-secondary-darken2);
    border-radius: 50%;
    transition: left 200ms;
}

.toggler__label {
    padding-left: 12px;
    cursor: pointer;
}

.toggler__control:enabled:checked ~ .toggler__state {
    border-color: var(--accent-primary);
    background-color: var(--accent-primary);
}

.toggler__control:enabled:checked ~ .toggler__state .toggler__dot {
    left: 24px;
    background-color: var(--main);
}
