.block-divider {
    margin: 0;
    height: 1px;
    background-color: #DDE2E5;
    border-style: none;
}

.page-header {
    padding: 0 160px;
    color: #212429;
    background-color: #fff;
}

.page-header__title {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.3;
}

.page-content {
    height: 800px; /* Just for testing*/
    background-color: #F9FAFC;
}

.page-footer {
    padding: 38px 160px;
    background-color: #fff;
    text-align: center;
    color: #212429;
}

.page-footer__title {
    margin: 32px 0;
    font-size: 38px;
    font-weight: 500;
    line-height: 1.25;
    font-weight: 500;
}

.page-footer__content {
    margin: 16px auto;
    max-width: 640px;
    font-size: 16px;
    line-height: 1.5;
}
