<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../components/sidebar-nav/sidebar-nav.css">
    <link rel="stylesheet" href="../../components/container/container.css">
    <link rel="stylesheet" href="../../components/top-header/top-header.css">
    <link rel="stylesheet" href="../../components/inner-page/inner-page.css">
    <title>Template</title>
</head>
<body class="all-viewport-height">
    <svg style="display: none">
        <defs>
            <symbol id="svg-sprite__close" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.707 5.293a1 1 0 010 1.414l-12 12a1 1 0 01-1.414-1.414l12-12a1 1 0 011.414 0z" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.293 5.293a1 1 0 011.414 0l12 12a1 1 0 01-1.414 1.414l-12-12a1 1 0 010-1.414z" />
            </symbol>
            <symbol id="svg-sprite__logo" viewBox="0 0 110 32" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 1h30v30H0z"/>
                <rect x="38" width="32" height="32" rx="16"/>
                <path d="M78 0l32 32H78V0z"/>
            </symbol>
            <symbol id="svg-sprite__arrow" viewBox="0 0 18 10" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M.293.293a1 1 0 011.414 0L9 7.586 16.293.293a1 1 0 111.414 1.414l-8 8a1 1 0 01-1.414 0l-8-8a1 1 0 010-1.414z"/>
            </symbol>
            <symbol id="svg-sprite__tooltip" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                <g fill-rule="evenodd" clip-rule="evenodd">
                <path d="M12 3a9 9 0 100 18 9 9 0 000-18zM1 12C1 5.925 5.925 1 12 1s11 4.925 11 11-4.925 11-11 11S1 18.075 1 12z"/>
                <path d="M12.258 8.024a2 2 0 00-2.225 1.308 1 1 0 11-1.886-.664 4 4 0 017.773 1.333c0 1.53-1.135 2.54-1.945 3.081a8.041 8.041 0 01-1.686.848l-.035.013-.011.003-.004.002h-.002L11.92 13l.316.949a1 1 0 01-.633-1.897H11.6h.002l.016-.006.074-.027a6.051 6.051 0 001.172-.6c.69-.46 1.055-.95 1.055-1.419v-.001a2 2 0 00-1.662-1.975zM12 15a1 1 0 011 1v.5a1 1 0 11-2 0V16a1 1 0 011-1z"/>
                </g>
            </symbol>
        </defs>
    </svg>

    <div class="inner-page">
        <header class="inner-page__header">
            <div class="container">
                <div class="top-header">
                    <div class="top-header__logo-wrapper">
                        <a class="top-header__logo-link" href="#">
                            <svg class="top-header__logo-icon" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="#svg-sprite__logo">
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <div class="inner-page__body">
            <div class="sidebar-nav">
                <div class="sidebar-nav__title">Components</div>
                <ul class="sidebar-nav__list">
                    <li class="sidebar-nav__item">
                        <a href="#" class="sidebar-nav__link">Modal</a>
                    </li>
                    <li class="sidebar-nav__item">
                        <a href="#" class="sidebar-nav__link">Tooltip</a>
                    </li>
                    <li class="sidebar-nav__item">
                        <a href="#" class="sidebar-nav__link">Avatar</a>
                    </li>
                    <li class="sidebar-nav__item">
                        <a href="#" class="sidebar-nav__link">Calendar</a>
                    </li>
                    <li class="sidebar-nav__item">
                        <a href="#" class="sidebar-nav__link">Histogram</a>
                    </li>
                    <li class="sidebar-nav__item">
                        <a href="#" class="sidebar-nav__link">Custom form elements</a>
                    </li>
                    <li class="sidebar-nav__item sidebar-nav__item_downed">
                        <a href="#" class="sidebar-nav__link">Main Page</a>
                    </li>
                </ul>
            </div>
            <div class="inner-page__content"></div>
        </div>
        <footer class="inner-page__footer">Reusable component library</footer>
    </div>
</body>
</html>
