<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../pages/template/template.css">
    <title>Template</title>
</head>
<body class="all-viewport-height">
    <div class="page">
        <header class="page__header template-header"></header>
        <div class="page__body template-body">
            <div class="menu template-menu">
                <div class="menu__title">Components</div>
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="#" class="menu__link">Modal</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Tooltip</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Avatar</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Calendar</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Histogram</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Custom form elements</a>
                    </li>
                    <li class="menu__item menu__item_downed">
                        <a href="#" class="menu__link">Main Page</a>
                    </li>
                </ul>
            </div>
            <div class="page__content"></div>
        </div>
        <footer class="page__footer">Reusable component library</footer>
    </div>
</body>
</html>
