.calendar {
    padding: 26px;
    color: var(--dark-primary);
    border: 1px solid var(--main-secondary-darken3);
    border-radius: 8px;
}

.calendar__month {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 24px;
}

.calendar__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar__day {
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 1.4;
    color: var(--main-secondary-darken3);
}

.calendar__dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
}

.calendar__dates::before {
    content: '';
    padding-bottom: 100%;

}

.calendar__date {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 1.4;
}

.calendar__date_accent {
    background-color: var(--accent-primary);
    color: var(--main);
}

.calendar__date_highlight{
    background-color: var(--main-secondary-darken2);
}

.calendar__date:first-child {
    grid-column-start: 6;
}
