.skeleton {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 1px solid var(--main-secondary-darken3);
    border-radius: 8px;
}

.skeleton__header {
    display: flex;
    margin-bottom: 25px;
}

.skeleton__logo {
    width: 64px;
    height: 64px;
    margin-right: 16px;
    border-radius: 50%;
    background-color: var(--main-secondary-darken2);
}

.skeleton__info {
    display: flex;
    padding-top: 8px;
    flex-grow: 1;
    flex-direction: column;
}

.skeleton__placeholder {
    width: 100%;
    height: 20px;
    margin-bottom: 8px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__placeholder:last-child {
    margin-bottom: 0;
}

.skeleton__placeholder_title {
    width: 40%;
}

.skeleton__placeholder_subtitle {
    width: 60%;
}
